:root {
    --main-text-color: black;
    --main-bg-color: white;
    --main-button-color: #33b0ff;
}

body {
    font-family: arial;
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 15px;
}   

button {
    margin: 10px;
    padding: 10px;
    color: var(--main-bg-color);
    background: var(--main-button-color);
    border: none;
    transition: background 0.2s;
    width: 100px;
    height: 50px;
    font-size: 15px;
}

button:hover {
    background: #0e8fe0;
}

.navbar {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
