:root {
    --main-text-color: black;
    --main-bg-color: white;
    --main-button-color: #33b0ff;
    --main-button-hover-color: #0e8fe0;
    --sub-button-color: #de0d0d;
    --sub-button-hover-color: #a10606;
}

body {
    font-family: arial;
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 15px;
}   

button {
    margin: 10px;
    padding: 10px;
    color: var(--main-bg-color);
    background: var(--main-button-color);
    border: none;
    transition: background 0.2s;
    width: 100px;
    height: 50px;
    font-size: 15px;
}
button:hover {
    background: var(--main-button-hover-color);
}

.sub-button {
    background: var(--sub-button-color);
}
.sub-button:hover {
    background: var(--sub-button-hover-color);
}

.navbar {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.info-bar {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
    gap: 10px;
}
/* Last child should be at the far right */
.info-bar *:last-child {
    margin: auto;
    margin-right: 10px;
}

.option-bar {
    margin: 10px;
}

.tooltip {}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
