/* Dropdown menu for sorting */
.sort-container {
    width: 150px;
    height: 50px;
    text-align: center;
}
.sort-button {
    width: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
}
.sort-button-text {
    width: 60%;
    padding: 5%;
}
.sort-button-arrow {
    width: 30%;
    font-size: 20px;
}
.sort-menu {
    display: none;
    position: absolute;
}
.sort-container:hover .sort-menu {
    display: block;
    background: white;
}
.sort-button.option {
    background: #80ccff;
}
.option:hover {
    background: #4db8ff;
}

/* Buttons for switching pages in collection */
.page-settings {
}
.page-settings > * {
    width: 50px;
}
.page-settings span {
    display: inline-block;
    text-align: center;
}
