.collection-page {

}

.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}

.collected-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sort-container {
    width: 100px;
    height: 50px;
    text-align: center;
}
.sort-button {
    color: white;
    background: #33b0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.sort-menu {
    display: none;
    position: absolute;
}
.sort-container:hover .sort-menu {
    display: block;
    background: white;
}
.sort-button.option {
    background: #80ccff;
}

.option:hover {
    background: #4db8ff;
}
