.collection-page {

}

.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}

.collected-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-options {
    display: none;
    position: absolute;
}

.sort-button:hover .sort-options {
    display: block;
}
